.config/gh/
.config/gh/*
.config/neofetch
.config/nextjs-nodejs
.config/pulse
.config/wslu
.config/astro
.config/create-next-app-nodejs
.config/fish
.config/tmuxp
.config/nvim/node_modules/.bin
.config/nvim/node_modules
.config/nvim/node_modules
.config/nvim/package-lock.json
.config/nvim/package.json
.config/dconf
.config/doom
.config/emacs
.config/go/telemetry/local
.config/wxchordpro
